{% extends "template.html" %} {% block body %}

<title>Upload new File</title>
<h1>Upload new File</h1>

<form action="./upload" method="post" enctype="multipart/form-data">
    <p><input type="text" name="title" placeholder="Title"></p>
    <p><input type="text" name="alt" value="Alt"></p>
    <p><input type="file" name="file"></p>
        <!-- TODO: add user id -->
        <button class="add-btn" type="submit">Submit</button>
        <button class="cancel-btn" type="reset">Cancel</button>
</form>


{% endblock %}